
body {
	max-width: 900px;
	margin: 0 auto;
}

#burger-button {
	display: none;
}
#main-nav {
	display: block;
}

#main-nav ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: grey;
}

#main-nav li {
	display: inline-block;
}
